In [1]:
# for that we have to import the required packages for data analysis.
import pandas as pd

In [8]:
# Then we have to create a csv file to perform some operations on it.
dic={"age":[25,30,35,40,45],"Premium":[18000,32000,40000,47000,55000]}
print("The sictionary becomes:",dic)

# Now we have to convert this dictionary into the dataframe
df=pd.DataFrame(dic)
print()
print("The dataframe becomes:")
df

The sictionary becomes: {'age': [25, 30, 35, 40, 45], 'Premium': [18000, 32000, 40000, 47000, 55000]}

The dataframe becomes:

   age  Premium
0   25    18000
1   30    32000
2   35    40000
3   40    47000
4   45    55000

In [11]:
# Now convert the dataframe into csv file for our analysis:
a=df.to_csv("Term Insurence.csv")

# Now import the created csv file into the python enviornment:
b=pd.read_csv("Term Insurence.csv")
print("Our data set is:")
b

Our data set is:

   Unnamed: 0  age  Premium
0           0   25    18000
1           1   30    32000
2           2   35    40000
3           3   40    47000
4           4   45    55000

In [12]:
# separate the dependent as well as independent variable, where put all the dependent variable in y as well as independent variable in x.
x=b["age"]
y=b["Premium"]

In [14]:
print("The independent variable is:")
x

The independent variable is:

0    25
1    30
2    35
3    40
4    45
Name: age, dtype: int64

In [15]:
print("The dependent variable is:")
y

The dependent variable is:

0    18000
1    32000
2    40000
3    47000
4    55000
Name: Premium, dtype: int64

In [16]:
# Now we have to split our dataset to training as well as testing data
from sklearn.model_selection import train_test_split

In [18]:
# Use the method train_test_split and within that pass dependent as well as independent variable and the test size.

# here the test_size 0.2 means 8:2 ratio.

# So here we are getting 4 different values:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2)

In [21]:
# Now we have to see each samples one by one
x_train

2    35
0    25
4    45
3    40
Name: age, dtype: int64

In [22]:
x_test

1    30
Name: age, dtype: int64

In [23]:
y_train

2    40000
0    18000
4    55000
3    47000
Name: Premium, dtype: int64

In [24]:
y_test

1    32000
Name: Premium, dtype: int64

In [25]:
# So here we have given the test size 0.2 so the dataset is divided into 8:2 ratio, so every train data has length 4 while the every test data has length 1. 
l=[len(x_train),len(x_test),len(y_train),len(y_test)]
print("The size of all test samples are:",l)
# Now the data is ready to feed in a machine learning algorithm.

The size of all test samples are: [4, 1, 4, 1]